RewriteEngine on

RewriteRule ^anasayfa(\.html)$ index.php [L,NC]
RewriteRule ^index(\.html)$ index.php [L,NC]
RewriteRule ^hesabim(\.html)$ hesabim.php [L,NC]
RewriteRule ^ara(\.html)$ ara.php [L,NC]
RewriteRule ^ticket(\.html)$ ticket.php [L,NC]
RewriteRule ^ticket-islemleri(\.html)$ ticket.php [L,NC]
RewriteRule ^karsilastirma(\.html)$ karsilastirma.php [L,NC]
RewriteRule ^karsilastir(\.html)$ karsilastirma.php [L,NC]
RewriteRule ^siparislerim(\.html)$ siparislerim.php [L,NC]
RewriteRule ^cikis(\.html)$ cikis.php [L,NC]
RewriteRule ^giris(\.html)$ giris.php [L,NC]
RewriteRule ^urun-detay-([a-zA-Z0-9\-_]+)?(\.html)$ urundetay.php?id=$1 [L,QSA]
RewriteRule ^kategorim-detay-([a-zA-Z0-9\-_]+)?(\.html)$ kategorimdetay.php?id=$1 [L,QSA]
RewriteRule ^sayfa-detay-([a-zA-Z0-9\-_]+)?(\.html)$ sayfadetay.php?id=$1 [L,QSA]
RewriteRule ^sss-detay-([a-zA-Z0-9\-_]+)?(\.html)$ sssdetay.php?id=$1 [L,QSA]
RewriteRule ^sss(\.html)$ sss.php [L,NC]
RewriteRule ^iletisim(\.html)$ iletisim.php [L,NC]
RewriteRule ^bilgi-detay-([a-zA-Z0-9\-_]+)?(\.html)$ bilgidetay.php?id=$1 [L,QSA]
RewriteRule ^ebulten(\.html)$ ebulten.php [L,NC]
RewriteRule ^kategori-detay-([a-zA-Z0-9\-_]+)?(\.html)$ altkategoridetay.php?id=$1 [L,QSA]
RewriteRule ^blog(\.html)$ blog.php [L,NC]
RewriteRule ^blog-detay-([a-zA-Z0-9\-_]+)?(\.html)$ blogdetay.php?id=$1 [L,QSA]
RewriteRule ^bilgiler(\.html)$ bilgiler.php [L,NC]
RewriteRule ^yeni-urunler(\.html)$ yeniurunler.php [L,NC]
RewriteRule ^firsat-urunleri(\.html)$ firsaturunleri.php [L,NC]
RewriteRule ^mesaj(\.html)$ mesaj.php [L,NC]
RewriteRule ^enyeni-urunler(\.html)$ enyeniurunler.php [L,NC]
RewriteRule ^enyuksek-urunler(\.html)$ enyuksekurunler.php [L,NC]
RewriteRule ^enyenifirsat-urunler(\.html)$ enyenifirsaturunler.php [L,NC]
RewriteRule ^enyuksekfirsat-urunler(\.html)$ enyuksekfirsaturunler.php [L,NC]
RewriteRule ^giriss(\.html)$ giriss.php [L,NC]
RewriteRule ^uye-ol(\.html)$ uyeol.php [L,NC]
RewriteRule ^uyeol(\.html)$ uyeoll.php [L,NC]
RewriteRule ^kullanici-sozlesmesi(\.html)$ sozlesme.php [L,NC]
RewriteRule ^uyelik-bilgilerim(\.html)$ uyelikbilgilerim.php [L,NC]
RewriteRule ^bilgiguncelle(\.html)$ bilgiguncelle.php [L,NC]
RewriteRule ^siparis-detay-([a-zA-Z0-9\-_]+)?(\.html)$ siparisdetay.php?id=$1 [L,QSA]
RewriteRule ^adres-defteri(\.html)$ adresdefteri.php [L,NC]
RewriteRule ^adres-ekle(\.html)$ adresekle.php [L,NC]
RewriteRule ^adresekle(\.html)$ adreseklee.php [L,NC]
RewriteRule ^sifre-degistir(\.html)$ sifredegistir.php [L,NC]
RewriteRule ^sifre-guncelle(\.html)$ sifreguncelle.php [L,NC]
RewriteRule ^ticket-olustur(\.html)$ ticketolustur.php [L,NC]
RewriteRule ^ticketform(\.html)$ ticketform.php [L,NC]
RewriteRule ^ticket-oku(\.html)$ ticketoku.php [L,NC]
RewriteRule ^ticketformm(\.html)$ ticketformm.php [L,NC]
RewriteRule ^hesap-numaralari(\.html)$ hesapnumaralari.php [L,NC]
RewriteRule ^uyelik-iptal(\.html)$ uyelikiptal.php [L,NC]
RewriteRule ^sepetekle(\.html)$ sepetekle.php [L,NC]
RewriteRule ^sepet(\.html)$ sepet.php [L,NC]
RewriteRule ^sepet-adres(\.html)$ sepetadres.php [L,NC]
RewriteRule ^sepet-odeme(\.html)$ sepetodeme.php [L,NC]
RewriteRule ^on-bilgilendirme(\.html)$ onbilgilendirme.php [L,NC]
RewriteRule ^satis-sozlesmesi(\.html)$ satissozlesmesi.php [L,NC]
RewriteRule ^urun-yorum(\.html)$ urunyorum.php [L,NC]
RewriteRule ^sepet-sonuc(\.html)$ sepetsonuc.php [L,NC]
RewriteRule ^ara(\.html)$ ara.php [L,NC]